body
{
    padding-top: 60px;
}
.strapline
{
    padding-bottom: 10px;
    text-align: center;
}
div.chameleon
{
    background-image: url(chameleonicon_16x16.png);
    background-repeat: no-repeat;
    padding-left: 26px;
    min-height: 16px;
    background-position: 10px center;
}
div.chameleon.active
{
    background-color: #000000;
}
section {
  padding-top: 40px;
}
section > .row {
  margin-bottom: 10px;
}
div .well
{
    padding-left: 70px;
    padding-top: 30px;
    padding-bottom: 10px;
    min-height: 315px;
}
div .instructions
{
    margin-top: 28px;
}
.instruction
{
    margin: 15px;
}
.padlockbox
{
    background-repeat: no-repeat;
    padding-left: 38px;
    min-height: 32px;
}
.padlockbox.rainbow
{
    background-image: url(chameleonicon_32x32.png);
}
.padlockbox.blue
{
    background-image: url(padlock_blue_32x32.png);
}
.padlockbox.green
{
    background-image: url(padlock_green_32x32.png);
}
.padlockbox.orange
{
    background-image: url(padlock_orange_32x32.png);
}
.padlockbox.purple
{
    background-image: url(padlock_purple_32x32.png);
}
.padlockbox.red
{
    background-image: url(padlock_red_32x32.png);
}
.padlockbox.yellow
{
    background-image: url(padlock_yellow_32x32.png);
}

.padlockbox.noindent
{
    margin-left: -38px;
}

.btn.teaser
{
    margin-left: 5px;
    padding: 10px;
    width: 268px;
}
.teaserimage
{
    float: left;
    padding: 5px;
}
.teasertext
{
    padding-left: 69px;
    padding-top: 18px;
    font-size: 15px;
    line-height: 20px;
}

input, textarea
{
    color: black;
}

input.number-input {
  width: 64px;
  height: 32px;
  font-size: 24px;
  text-align: center;
}

div.passwordmessage
{
    display:none;
}
input.password
{

    font-size: 20pt;
    text-align: center;
    height: 40px;
}

div.affiliate
{
    display:none;
}
